@font-face {
	font-family: 'Roboto-Light';
	src: 
	url('../fonts/roboto/Roboto-Light.woff') format('woff'),
	url('../fonts/roboto/Roboto-Light.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: 
		url('../fonts/roboto/Roboto-Regular.woff') format('woff'),
		url('../fonts/roboto/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Medium';
	src: 
		url('../fonts/roboto/Roboto-Medium.woff') format('woff'),
		url('../fonts/roboto/Roboto-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: 
		url('../fonts/roboto/Roboto-Bold.woff') format('woff'),
		url('../fonts/roboto/Roboto-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto-Italic';
	src: 
		url('../fonts/roboto/Roboto-Italic.woff') format('woff'),
		url('../fonts/roboto/Roboto-Italic.ttf');
	font-weight: normal;
	font-style: normal;
}
