
$orange: #ff8e03;
$black: #000;
$white: #fff;
$grey: #cccccc;
$dark_grey: #555555;

$ex_color: #ffa72b;
$pro_color: #2699c9;
$eli_color: #baa56c;
$green: #4cbea0;


$light_orange: #feefea;
$dark_orange: #bf4d26;
$v_dark_orange: #8c381c;
$blue: #5383ec;
$light_blue: #edf2fd;
$dark_blue: #4167ba;
$v_dark_blue: #4167ba;
$lght-grey: #404040;
$red: #FF0000;