@import "_inc/_fonts";
@import "_inc/_variables";
@import "_inc/_mixins";

a:hover, a:active, a:focus, input{
	text-decoration: none;
	outline: none;
}
li{
	list-style: none;
}
body{
	font-family: Montserrat;
	color: #1d1d1b;
}
.wrap{
	max-width: 1550px;
	margin: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.fiolet-btn{
	color: $white;
	font-size: 18px;
	padding: 12px 45px 12px 30px;
	box-shadow: 0 2px 4px rgba(100, 100, 100, 0.5);
	border-radius: 3px;
	border: 1px solid #7a2c86;
	background-image: linear-gradient(135deg, #94358b 0%, #672582 100%);
	cursor: pointer;
	z-index: 11;
	&:hover{
		color: $white;
		transition: .2s ease-in-out;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
	&:active{
		background-image: linear-gradient(135deg, #672582 0%, #94358b 100%);;
	}
	@media only screen and (max-width: 767px){
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px 0 8px 0px;
		font-size: 13px;
		max-width: 280px;
		margin: auto;
	}
}
.header{
	background-image: url(../img/shutterstock.png);
	background-size: cover;
	position: relative;
		&:after{
			background-image: radial-gradient(circle 1419px at 50% -35.08%, #572a79 0%, rgba(162, 52, 213, 0) 100%);
			opacity: 0.5;
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	.head-menu{
		@media screen and (max-width: 767px){
			max-height: 60px;
		}
	.logo_header{
		.logo{
			z-index: 3;
			fill: #fff;
			height: 76px;
			transition: .25s ease-in-out;
			@media screen and (max-width: 991px){
				margin: 10px 0 0 30px
			}
			@media screen and (max-width: 767px){
				left: -74px;
				position: absolute;
				height: 35px;
				margin-left: 0;
			}
		}
		.text_logo{
			margin-left: -206px;
			margin-top: 29px;
			@media only screen and (min-width: 992px) and (max-width: 1140px) {
				margin-left: -220px;
			}
			@media screen and (max-width: 767px){
				margin-left: 30px;
				margin-top: 23px;
			}
		}
		.title_logo {
			color: $white;
			font-size: 24px;
			font-weight: 700;
			margin-bottom: -3px;
			@media only screen and (min-width: 992px) and (max-width: 1140px) {
				font-size: 16px;
			}
			@media screen and (max-width: 767px){
				font-size: 11px;
			}
		}
		.subtitle_logo {
			color: $white;
			font-size: 10px;
			font-style: italic;
			@media screen and (max-width: 767px){
				font-size: 7px;
			}
		}
		.text_svg{
			display: flex;
			@media screen and (max-width: 767px){
				margin-left: 33px;
			}
		}
	}
	.logo_header{
		&.open_logo{
			display: none;
			@media screen and (max-width: 991px){
				display: block;
			}
			.text_logo{
				@media screen and (max-width: 767px){
					margin-left: 50px;
					margin-top: 12px;
					.logo{
						top: 0;
						margin-left: 0;
					}
				}
			}
		}
	}
	padding-top: 32px;
	position: fixed;
	left: 0;
	margin: auto;
	right: 0;
	width: 100%;
	z-index: 3;
	.header-wrap{
		max-width: 1550px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}
}
	.list-menu{
		display: flex;
		padding: 10px 0 0;
		li{
			@media only screen and (max-width: 991px){
				&:first-child{
					margin-left: -50px;
				}
			}
			@media only screen and (max-width: 767px){
				&:first-child{
					padding: 0 0 10px 0;
				}
				padding: 0 0 28px 0;
			}
			a {
				color: $white;
				text-decoration: none;
				font-family: Lato;
				font-size: 16px;
				font-weight: 700;
				letter-spacing: 0.5px;
				@media only screen and (max-width: 767px){
					font-size: 14px;
					font-weight: 400;
				}
				&:hover{
					border-bottom: 2px solid $white;
					text-decoration: none;
					outline: none;
					padding-bottom: 5px;
				}
			}
			padding-right: 22px;
			&:last-child{
				padding: 0;
			}
		}
	}
	.mein-menu{
		color: $white;
		align-items: center;
		padding: 192px 0 420px;
		.row{
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.left-part{
			z-index: 2;
			.title_wh{
				margin: 30px 0 12px;
				@media only screen and (max-width: 767px){
					margin: 0px auto 18px;
					text-align: center;
					font-size: 22px;
				}
			}
			.subtitle_wh {
				margin-bottom: 30px;
				letter-spacing: 1.3px;
				font-size: 18px;
				@media only screen and (max-width: 767px){
					margin: 0 auto 20px;
					max-width: 250px; 
					letter-spacing: 0;
					font-size: 12px;
					text-align: center;
					line-height: 2;
				}
			}
		}
		.right-part{
			max-width: 363px;
			background-color: $white;
			z-index: 2;
			max-height: 313px;
			padding: 0 16px;
			margin-top: 47px;
			@media only screen and (max-width: 767px){
				margin: 33px auto;
				max-width: 280px;
			}
			.control-group{
				position: relative;
				@media only screen and (max-width: 767px){
					text-align: center;
					width: 100%;
				}
				.form-label{
					position: absolute;
					opacity: 0.25;
					color: #000000;
				}
			}
			.form_title{
				display: flex;
				justify-content: space-between;
				margin-top: 20px;
				p{
					color: #000;
					font-size: 18px;
				}
				a{
					font-size: 15px;
					font-family: "Source Sans Pro";
				}
			}
			.form-input{
				width: 100%;
				margin: 2px auto 22px;
				@media only screen and (max-width: 767px){
					margin: 2px auto 12px;
				}
			}
			.Wachtwoord_vergeten{
				text-align: center;
				display: block;
				margin: 12px 0 20px;
				font-size: 12px;
			}
			.form_footer{
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				.c-input{
					.checkbox-description{
						color: $black;
						margin-left: 35px;
						font-size: 12px;
					}
				}
				input[type=checkbox] {
					opacity: 0;
					top: 14px;
					position: absolute;
					cursor: pointer;
				}
				.c-checkbox input:checked + .c-indicator::before, .c-checkbox input:checked + .c-indicator::after {
					opacity: 1;
					transition: .25s ease-in-out;
				}
				.c-indicator {
					position: absolute;
					border-radius: 50%;
					width: 22px;
					height: 22px;
					box-shadow: 0 2px 4px rgba(100, 100, 100, 0.2);
					border: 1px solid #95c85d;
					background-image: linear-gradient(134deg, #91c831 0%, #429321 100%, #5533ff 100%);
					cursor: pointer;
					&:before{
						content:'';
						display: block;
						position: absolute;
						background-color: $white; 
						width: 5px;
						height: 1px;
						transform: rotate(45deg);
						top: 11px;
						left: 4px;
						opacity: 0;
						transition: .25s ease-in-out;
					}
					&:after{
						content:'';
						display: block;
						position: absolute;
						background-color: $white; 
						width: 10px;
						height: 1px;
						transform: rotate(-45deg);
						top: 10px;
						right: 3px;
						opacity: 0;
						transition: .25s ease-in-out;
					}
				}
				@media only screen and (max-width: 767px){
					flex-direction: column;
				}
			}
			input {
				outline: none;
				padding: 14px;
				border-radius: 3px;
				border: 1px solid #ebebeb;
				font-size: 14px;
				@media only screen and (max-width: 767px){
					padding: 8px;
					font-size: 14px;
				}
			}
				::-webkit-input-placeholder { /* Chrome */
				color: #000;
				opacity: 0.25;
				transition: opacity 250ms ease-in-out;
			}
				:focus::-webkit-input-placeholder {
				opacity: 0.5;
			}
				:-ms-input-placeholder { /* IE 10+ */
				color: red;
				transition: opacity 250ms ease-in-out;
			}
				:focus:-ms-input-placeholder {
				opacity: 0.5;
			}
				::-moz-placeholder { /* Firefox 19+ */
				color: red;
				opacity: 1;
				transition: opacity 250ms ease-in-out;
			}
				:focus::-moz-placeholder {
				opacity: 0.5;
			}
				:-moz-placeholder { /* Firefox 4 - 18 */
				color: red;
				opacity: 1;
				transition: opacity 250ms ease-in-out;
			}
				:focus:-moz-placeholder {
				opacity: 0.5;
			}
		}
	}
	.scrollDown{
		position: relative;
		display: block;
		width: 50px;
		height: 50px;
		cursor: pointer;
		margin: 0 auto;
		&:before{
			content:'';
			display: block;
			position: absolute;
			height: 3px;
			width: 15px;
			background-color: $white;
			transform: rotate(45deg);
			bottom: 43px;
			left: calc(50% - 7px);
			z-index: 2;
		}
		&:after{
			content:'';
			display: block;
			position: absolute;
			height: 3px;
			width: 15px;
			background-color: $white;
			transform: rotate(-45deg);
			bottom: 43px;
			z-index: 2;
			left: calc(50% - -3px);
		}
	}
}
.title{
	font-size: 42px;
	font-weight: 600;
	font-family: Montserrat;
		@media screen and (max-width: 767px){
			font-size: 24px;
			line-height: 1.2;
		}
}
.subtitle{
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0 25px;
	@media screen and (max-width: 767px){
		font-size: 13px;
		margin: 25px 0 20px;
	}
}
.title_wh{
	font-size: 42px;
	font-weight: 600;
	color: $white;
}
.subtitle_wh{
	font-size: 16px;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 55px;
}
.txt {
	max-width: 940px;
	margin: 0 auto 81px;
	font-size: 20px;
	font-family: "Source Sans Pro";
	font-weight: 400;
	line-height: 1.7;
	@media screen and (max-width: 767px){
		font-size: 12px;
		margin: 0 auto;
		line-height: 1.8;
    max-width: 270px;
  }
}
.login_btn{
	box-shadow: 0 2px 4px rgba(100, 100, 100, 0.2);
	border-radius: 3px;
	border: 1px solid #95c85d;
	background-image: linear-gradient(135deg, #91c831 0%, #429321 100%);
	color: $white;
	position: relative;
	padding: 10px 25px;
	padding: 11px 61px 9px 52px;
	cursor: pointer;
	font-size: 14px;
	cursor: pointer;
	&:hover{
		color: $white;
		transition: .2s ease-in-out;
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	}
	&:active{
		background-image: linear-gradient(135deg, #429321 0%, #91c831 100%);
	}
	&:visited{
		color: $white;
	}
	@media only screen and (max-width: 767px){
		width: 100%;
		text-align: center;
	}
}
.line_bottom{
	width: 95%;
	overflow: hidden;
	margin: 0 auto;
	@media screen and (max-width: 767px){
		margin: 16px auto 17px;
	}
}
/*second section*/
.experience{
	margin: 100px auto 0;
	@media screen and (max-width: 767px){
		margin: 36px auto 30px;
	}
	.service_img{
		float: left;
		@media screen and (max-width: 767px){
			max-width: 30px;
		}
	}
	.description{
		margin-left: 75px;
		@media screen and (max-width: 767px){
			margin-left: 46px;
		}
	}
	.info_block{
		margin: 89px auto 53px;
		@media screen and (max-width: 767px){
			 margin: 0 auto 0;
		}
		.title{
			font-size: 15px;
			font-weight: 600;
			@media screen and (max-width: 767px){
				font-size: 11px;
			}
		}
		.text_box{
			font-size: 16px;
			margin-top: 14px;
			font-family: "Source Sans Pro";
			@media screen and (max-width: 767px){
				font-size: 12px;
				line-height: 1.9;
				margin-top: 10px;
			}
		}
	}
	.row{
		margin: 0;
	}
	.container {
    width: 1105px;
    max-width: 100%;
	}
}
/*End second section*/

/*Third section*/
.references{
	background-color: #64227b;
	color: $white;
	padding: 92px 0 107px;
	@media screen and (max-width: 767px){
		padding: 30px 0 37px;
	}
	.txt{
		margin-bottom: 43px;
		@media screen and (max-width: 767px){
			margin-bottom: 24px;
			line-height: 1.9;
		}
	}
	.login_btn{
		padding: 10px 20px;
		@media screen and (max-width: 767px){
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 280px;
			margin: auto;
		}
	}
}
/*End Third section*/

/*Fourth section*/
.statistics{
	background-color: rgba(235, 235, 235, 0.5);
	padding: 32px 0;
	.container{
		max-width: 1035px;
	}
	ul{
		padding: 27px 0 30px;
		margin-bottom: 0;
		text-align: center;
		display: block;
		@media screen and (max-width: 767px){
			padding: 0;
		}
		.list-title{
			font-family: Montserrat;
			font-size: 32px;
			font-weight: 700;
			@media screen and (max-width: 767px){
				font-size: 25px;
			}
		}
		.list-description{
			font-family: "Source Sans Pro";
			font-size: 14px;
			font-weight: 200;
		}
	}
	.statistics_col{
		display: flex;
		justify-content: space-around;
		@media screen and (max-width: 767px){
			justify-content: space-around;
			max-width: 100%;
			&:first-child{
				padding-bottom: 32px;
			}
		}
	}
	.statistics_row{
		display: flex;
		width: 100%;
		@media screen and (max-width: 767px){
			flex-direction: column;
			align-items: center;
			padding: 32px 0;
		}
	}
}
/*End Fourth section*/

/*Fifth section*/
.members{
	.row{
		max-width: 1550px;
	}
	.title{
		text-align: center;
		margin: 91px auto 28px;
		@media screen and (max-width: 767px){
			margin: 35px auto 28px;
			line-height: 1.2;
		}
	}
	.subtitle{
		text-align: center;
	}
	.swiper-slide{
		.custom_slide{
			max-width: 250px;
			max-width: 250px;
			border: 1px solid #ebebeb;
			margin: auto;
			border-radius: 8px;
			text-align: center;
		}
		&.swiper-slide-prev, &.swiper-slide-next{
			@media screen and (max-width: 767px){
				opacity: .3;
			}
		}
		/*swiper-slide-prev*/
		.bottom_part{
			padding: 25px 0px;
			@media screen and (max-width: 767px){
				padding: 29px 0px 30px;
			}
			.img-title{
				font-size: 20px;
				font-family: Montserrat;
				font-weight: 600;
				margin-bottom: 7px;
			}
			.services{
				font-family: "Source Sans Pro";
				font-size: 14px;
				margin-bottom: 2px;
			}
			.city{
				font-family: "Source Sans Pro";
				font-size: 14px;
				margin-bottom: 31px;
				@media screen and (max-width: 767px){
					margin-bottom: 25px;
				}
			}
			.fiolet-btn{
				cursor: pointer;
				font-size: 14px;
				&:hover{
					color: $white;
					transition: .2s ease-in-out;
					box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
					z-index: 99;
					cursor: pointer;
				}
				&:active{
					background-image: linear-gradient(135deg, #672582 0%, #94358b 100%);;
				}
				@media screen and (max-width: 767px){
					max-width: 190px;
				}
			}
		}
	}
	.more_services{
		font-family: "Source Sans Pro";
		font-size: 14px;
		margin: 50px 0 55px;
		@media screen and (max-width: 767px){
			margin: 24px 0 23px;
		}
		text-align: right;
		width: 100%;
		display: block;
		@media screen and (max-width: 767px){
			text-align: center;
		}
		a{
			color: #1d1d1b;
			&:hover{
				color: #7a2c86;
			}
		}
	}
}
/*.plasplaas{
	.swiper-container{
		@media screen and (min-width: 1200px) {
			pointer-events: none;
		}
	}
}*/
/*End Fifth section*/
/* Sixs section*/
.registration{
	text-align: center;
	.title{
    margin: 69px 0 44px;
    font-size: 24px;
		font-family: Montserrat;
		font-weight: 700;
		@media screen and (max-width: 767px){
			margin: 24px 0 37px;
		}
	}
	.login_btn{
		padding: 11px 25px 9px 20px;
		@media screen and (max-width: 767px){
			max-width: 280px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}
	}
}
/*End Six section*/

/*Footer*/
.footer{
	margin-top: 82px;
	@media screen and (max-width: 767px){
		margin-top: 68px;
	}
	.footer_wrap{
		background-color: rgba(235, 235, 235, 0.5);
	}
	.social_icons{
		a{
			padding: 10px;
			border: 1px solid #ebebeb;
			background-color: #ffffff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: -20px 6px 0;
				&:hover{
				background-image: linear-gradient(-45deg, #6a2683 0%, #93358b 100%);
				fill: $white;
				transition: .3s ease-in-out;
			}
		}
		display: flex;
		justify-content: center;
		.social{
			width: 20px;
			height: 20px;
		}
	}
	.container{
		max-width: 1550px;
		margin: 0 auto;
		@media screen and (max-width: 767px){
			margin: 23px auto 0px;
		}
	}
	.information{
		.title_footer{
			font-weight: 700;
			font-family: Montserrat;
			font-size: 24px;
			margin-bottom: 25px;
			@media screen and (max-width: 991px){
				font-size: 20px;
			}
			@media screen and (max-width: 767px){
				margin-bottom: 10px;
			}
		}
		.empty_title{
			margin-top: 57px;
			@media screen and (max-width: 767px){
				margin-top: 10px;
			}
		}
		ul{
			margin: 50px 0 70px;
			li{
				font-family: "Source Sans Pro";
				font-size: 16px;
				line-height: 32px;
				a{
					color: #000;
					&:hover{
						color: #64227b;
					}
				}
			}
			@media screen and (max-width: 767px){
				margin: 0 0 27px;
				padding: 0 15px;
				&:first-child, &:nth-child(2){
					margin: 0;
				}
			}
		}
	}
	.copyright{
		text-align: center;
		margin-top: 27px;
		@media screen and (max-width: 767px){
			margin-top: 30px;
		}
		.text_svg{
			width: 220px;
			margin: 0 auto;
		}	
	}
	.bold{
		font-weight: 600;
	}
	.f_logo{
		width: 185px;
		height: 76px;
	}
	.text_logo{
		display: block;
		margin-top: -55px;
		margin-left: 65px;
		.title_logo{
			color: $black;
			font-size: 18px;
			font-weight: 700;
			margin-bottom: -3px;
		}
		.subtitle_logo{
			color: #b2b2b1;
			font-size: 10px;
			margin-left: -58px;
			font-style: italic;
		}
	}
	.license{
		margin-top: 32px;
		line-height: 2;
		font-size: 12px;
		margin-bottom: 6px;
		a{
			color: #000;
		}
	}
}
/*End Footer*/

.stickyHeader{
	background-color: $white;
	box-shadow: 0 2px 4px 1px rgba(100, 100, 100, 0.15);
	opacity: 1;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	transition: .5s ease-in-out;
	padding: 0 0 20px;
	&.head-menu ul{
		li{
			a{
				color: #000;
				@media screen and (min-width: 992px) {
					&.fiolet_bg{
						color: $white;
						box-shadow: 0 2px 4px rgba(100, 100, 100, 0.2);
						border-radius: 3px;
						border: 2px solid #7a2c86;
						background-image: linear-gradient(-45deg, #672582 0%, #672582 100%);
						padding: 10px;
						&:hover{
							border: 2px solid transparent;
						}
					}
				}
				@media screen and (max-width: 991px) {
					color: #fff;
				}
				&:hover{
					border-bottom: 2px solid $black;
					@media screen and (max-width: 991px) {
						border-bottom: 2px solid $white;
					}
				}
			}
		}
	}
	&.head-menu {
		padding: 10px 0;
		.logo{
			fill: #662382;
		}
		.logo_header{
			.title_logo {
				color: #000;
			}
			.subtitle_logo {
				color: #b2b2b1;
			}
		}
	}
	&.head-menu .logo_header .logo{
		fill: #64227b;
	}
	&.head-menu .logo_header.open_logo .logo{
		fill: $white;
	}
	&.head-menu .logo_header.open_logo .title_logo, &.head-menu .logo_header.open_logo .subtitle_logo{
		color: $white;
	}
	.bit-1, .bit-2, .bit-3{
		&:before, &:after{
			background-color: $black;
		}
	}
	.opened{
		.bit-1, .bit-2, .bit-3{
			&:before, &:after{
				background-color: $white;
			}
		}
	}
}
.stickyHeader1{
	background-color: $white;
	opacity: 0.5;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	transition: .5s ease-in-out;
	ul{
		li{
			a{
				color: #000!important;
				&:hover{
					border-bottom: 2px solid $black;
				}
			}
		}
	}
}
.stickyHeader2{
	background-color: $white;
	opacity: 0.2;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	transition: .5s ease-in-out;
	ul{
		li{
			a{
				color: #000!important;
			}
		}
	}
}
/*mobile header btn*/
.header_btn{
	position: relative;
	span{
		height: 5px;
		position: absolute;
	}
}
.bit-1{
	margin-top: -12px;
	width: 20px;
	margin-left: -5px;
	&:before{
		left: 0;
		transform-origin: left bottom;
	}
	&:before,
	&:after{
		content: '';
		position: absolute;
		height: 100%;
		width: 50%;
		top: 0;
		transition: transform .1s, top .1s;
		background-color: $white;
	}
	&:after{
		right: 0;
		transform-origin: right bottom;
	}
}
.bit-2 {
	left: 50%;
	margin-left: -5px;
	margin-top: -3px;
	text-align: center;
	&:before{
		content: '';
		width: 20px;
		height: 100%;
		display: inline-block;
		vertical-align: top;
		transition: width .1s;
		transition-delay: 0.1s;
		background-color: $white;
	}
}
.bit-3{
	width: 20px;
	margin-left: -5px;
	margin-top: 6px;
	&:before{
		left: 0; 
		transform-origin: left top;
	}
	&:before,
	&:after{
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		transition: transform .1s, bottom .1s;
		bottom: 0;
		background-color: $white;
	}
	&:after{
		right: 0;
		transform-origin: right top;
	}
}
.opened{
	.bit-1{
		margin-top: -8px;
		width: 20px;
		&:before{
			width: 13px;
			transform: rotate(45deg);
			transition-delay: 0.2s;
		}
		&:before, 
		&:after {
			top: -4px;
			color: red!important;
		}
		&:after{
			width: 13px;
			transition-delay: 0.2s;
			transform: rotate(-45deg);
		}
	}
	.bit-2{
		margin-left: -3px;
		&:before{
			width: 0;
			transition-delay: 0;
			color: $white;
		}
	}
	.bit-3{
		width: 20px;
		margin-top: -2px;
		&:before{
			transform: rotate(-45deg);
		}
		&:before,
		&:after {
			width: 13px;
			transition-delay: 0.2s;
			bottom: -8px;
		}
		&:after {
			transform: rotate(45deg);
		}
	}
}
.navbar-toggler{
	padding: 0;
	position: fixed;
	font-size: 1rem;
	cursor: pointer;
	z-index: 10;
	padding: 20px;
	top: 30px;
	right: 25px;
	transition: all 0.5s;
	display: block;
	@media only screen and (max-width: 767px){
    top: 11px;
    right: 8px;
  }
}
.navbar-toggler:focus{
	outline: none;
}
.custom_navbar{
	display: inline-block;
}
.nav{
	width: 100%;
}
.main-menu{
	.logo{
		display: none;
	}
}
/**/
@media only screen and (max-width: 991px) {
	.wrapp{
		overflow-x: hidden;
	}
	.nav-container{
		width: 100%;
	}
	.nav-pills{
		flex-direction: column;
	}
	.main-menu{
		background-color: #672582;
		box-shadow: 0 2px 4px 1px rgba(100, 100, 100, 0.15);
		display: block;
		position: absolute;
		transition: all 0.5s;
		right: 0;
		top: -1000px;
		width: 100%;
		z-index: 9;
		padding: 0px 20px 30px 50px;
		@media only screen and (max-width: 767px) {
			padding: 0px 0px 20px 15px;
		}
		li{
			padding-bottom: 20px;
			margin: 0;
		}
		.logo{
			display: block;
			fill: #fff;
		}
	}
	.menu-open{
		right: 0;
		top: 0;
		min-width: 170px;
		position: fixed;
	}
	.header{
		.mein-menu{
			padding: 60px 0 20px;
			@media only screen and (max-width: 767px){
				padding: 80px 0 0;
			}
		}
		.head-menu{
			padding: 0; 
		}
		.list-menu{
			li{
				a{
					fill: $white;
				}
			}
		}
	}
	.stickyHeader{
		padding: 0;
	}
}
.separate_nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 -15px;
}
.arrow_svg{
	width: 8px;
	height: 8px;
	@media only screen and (max-width: 991px){
		padding: 0 15px 0;
	}
}
/*END mobile header btn*/

/*Style for SEARCH Page*/
.search{
	.header {
		.list-menu{
			padding: 0;
			@media only screen and (max-width: 991px){
				padding: 20px 0 0;
/*				overflow-y: scroll;
				height: 100%;*/
			}
			li{
				padding-right: 34px;
				@media only screen and (max-width: 1200px){
					padding-right: 15px;
				}
				@media only screen and (max-width: 991px){
					margin-left: 0px;
					padding: 0 0px 28px 15px;
					&:last-child{
						padding: 0 0 28px;
					}
				}
				a{
					&:hover{
						border: none;
						@media only screen and (min-width: 991px){
							border-bottom: 2px solid #000;
						}
					}
				}
			}
			.dropdown_body{
				position: absolute;
				display: none;
				@media only screen and (min-width: 992px){
					li{
						&:nth-child(4){
							padding-left: 0px;
						}
						a{
							color: #fff;
							&:hover{
								border-bottom: 2px solid #fff;
							}
						}
					}
				}
				@media only screen and (min-width: 992px){
					background-image: linear-gradient(-45deg, #672582 0%, #672582 100%);
				}
			}
			.show_dropdown{
				display: flex;
				flex-direction: column;
				top: 46px;
				right: 0;
				border-radius: 3px;
				@media only screen and (max-width: 992px){
					width: 100%;
					border-radius: 0;
					padding-left: 0;
					background-color: #ebebeb;
				}
				@media only screen and (max-width: 767px){
					height: 300px;
					overflow-y: scroll;
				}
				li{
					font-family: "Source Sans Pro";
					font-size: 14px;
					line-height: 50px;
					font-weight: 300;
					opacity: .6;
					color: #fff;
					white-space: nowrap;
					background: none;
					&:hover{
						border: none;
						background-color: transparent;
						opacity: 1;
					}
					@media only screen and (max-width: 991px){
						color: #000;
						padding: 0 40px;
					}
					@media only screen and (max-width: 767px){
						padding: 0 17px;
						&:first-child{
							padding: 0 17px;
						}
					}
				}
			}
		}
		.head-menu {
			top: 0;
			background: #fff;
			padding: 0;
			box-shadow: 0 2px 4px 1px rgba(100, 100, 100, 0.15);
			@media only screen and (max-width: 991px){
				width: 100%;
			}
			.main-menu{
				padding: 0px 0px 0px 0px;
				background-color: #fff;
			}
			.logo_header {
				padding: 0;
				.logo{
					fill: #64227b;
				}
				.text_logo{
					margin-top: 23px;
				}
				.title_logo{
					color: #000;
				}
				.subtitle_logo{
					color: #b2b2b1;
				}
				.text_svg{
					padding: 7px 3px;
				}
			}
			ul {
				.dropdown-menu{
					background-image: linear-gradient(-45deg, #672582 0%, #672582 100%);
					box-shadow: 0 2px 4px rgba(100, 100, 100, 0.2);
					border: 2px solid #7a2c86;
					border-top: none;
					border-radius: 3px 0 3px 3px;
					margin: -2px 0 0px;
					left: auto;
					right: 0;
					width: 234px;
					@media only screen and (max-width: 991px){
						width: 100%;
						background-image: none;
						background-color: rgba(235, 235, 235, 1);
						border: none;
						border-radius: 0;
						padding: 0;
						margin-top: 28px;
					}
					a{
						color: #fff;
						font-family: "Source Sans Pro";
						font-size: 14px;
						line-height: 50px;
						font-weight: 300;
						opacity: 0.6;
						padding: 0 17px;
						&:hover{
							opacity: 1;
							background: transparent;
							border: none;
						}
						@media only screen and (max-width: 991px){
							color: #000;
						}
						@media only screen and (min-width: 767px) and (max-width: 991px) {
							padding: 0 40px;
						}
					}
				}
				.btn-secondary{
					box-shadow: 0 2px 4px rgba(100, 100, 100, 0.2);
					border-radius: 3px;
					border: 2px solid #7a2c86;
					background-image: linear-gradient(-45deg, #672582 0%, #672582 100%);
					color: #fff;
					border-radius: 3px;
					position: relative;
					padding: 10px 25px 10px 12px;
					@media only screen and (max-width: 991px){
						border: none;
						color: #000;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						background-image: linear-gradient(-45deg, #fff 0%, #fff 100%);
						box-shadow: none;
						padding: 0 15px 0 40px;
						font-size: 16px;
						font-weight: 600;
					}
					@media only screen and (max-width: 767px){
						padding: 0 15px;
						font-size: 14px;
						font-weight: 400;
					}
				}
				li {
					position: relative;
					@media only screen and (max-width: 991px){
						padding-left: 40px;
					}
					@media only screen and (max-width: 767px){
						padding-left: 15px;
					}
					&:first-child{
						@media only screen and (max-width: 767px){
							padding-bottom: 28px;
						}
					}
					&:last-child{
						margin-top: -10px;
						padding-right: 0;
						@media only screen and (max-width: 991px){
							margin-top: 0;
						}
					}
					&:nth-child(4){
						padding-left: 20px;
						@media only screen and (max-width: 991px){
							padding-left: 40px;
						}
						@media only screen and (max-width: 767px){
							padding-left: 15px;
						}
					}
					.inbox{
						&:before{
							content: "22";
							position: absolute;
							top: -11px;
							right: -30px;
							color: #fff;
							box-shadow: 0 2px 4px rgba(100, 100, 100, 0.2);
							border: 1px solid #7a2c86;
							background-image: linear-gradient(-45deg, #672582 0%, #94358b 100%);
							border-radius: 50%;
							font-size: 12px;
							padding: 3px 5px;
						}
					}
					a{
						position: relative;
						color: #000;
						&.fiolet_bg{
							background-image: linear-gradient(-45deg, #672582 0%, #672582 100%);
							padding: 10px;
							color: #fff;
							border-radius: 3px;
							border: 2px solid #7a2c86;
						}
					}
				}
			}
		}
	}
/* arrows rotate */
	.dropdown-menu{
		@media only screen and (max-width: 991px){
			width: 100%;
		}
		@media only screen and (max-width: 575px){
			width: 95%;
		}
	}
	.dropdown-toggle::after{
		display: none;
	}
	.sidebar_arrow{
		position: absolute;
		top: 50%;
		right: 0px;
		right: 10px;
		transition: .3s ease-out;
		@media only screen and (max-width: 991px){
			padding: 0 30px;
		}
		&:after {
			content: '';
			position: absolute;
			width: 7px;
			height: 1px;
			background-color: #000;
			right: 25px;
			transform: rotate(45deg);
			@media only screen and (min-width: 991px){
				background-color: #fff;
				right: 0px;
			}
		}
		&:before {
			content: '';
			position: absolute;
			width: 7px;
			height: 1px;
			background-color: #000;
			right: 30px;
			transform: rotate(-45deg);
			@media only screen and (min-width: 991px){
				background-color: #fff;
				right: 5px;
			}
		}
	}
	.rotate{
		@media only screen and (min-width: 991px){
			&:after {
				transform: rotate(-45deg);
				transition: .2s ease-out;
			}
			&:before {
				transform: rotate(45deg);
				transition: .2s ease-out;
			}
		}
		@media only screen and (max-width: 991px){
			transform: rotate(180deg);
		}
	}
	/*end arrows rotate*/
	.members{
		.content_head{
			display: flex;
			align-items: flex-end;
			margin-bottom: 25px;
			@media only screen and (max-width: 991px){
				flex-direction: column-reverse;
				align-items: center;
			}
			@media only screen and (max-width: 991px){
				margin-top: 15px;
			}
			.title{
				text-align: left;
				word-spacing: -2px;
				margin: 0px 0 27px 5px;
				@media only screen and (max-width: 991px){
					text-align: center;
					margin: 27px 0px;
				}
			}
			.subtitle{
				text-align: left;
				margin: 0 0 8px 9px;
				font-weight: 400;
				@media only screen and (max-width: 991px){
					text-align: center;
				}
			}
			.sidebar_arrow{
				position: absolute;
				top: 50%;
				&:after{
					background-color: #000;
				}	
				&:before{
					background-color: #000;
				}
			}
		}
		.swiper-slide .bottom_part .fiolet-btn{
			@media screen and (max-width: 575px){
				max-width: 95%;
			}
		}
		.btn-secondary{
			position: relative;
			color: #1d1d1b;
			background-color: #fff;
			font-size: 14px;
			font-family: "Source Sans Pro";
			border-radius: 8px;
			border: 1px solid #ebebeb;
			padding: 10px 27px 10px 13px;
			&:focus{
				box-shadow:none;
			}
			@media only screen and (max-width: 991px){
				width: 100%;
				text-align: left;
			}
			@media only screen and (max-width: 575px){
				width: 95%;
				margin: auto;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}
	.line_bottom{
		width: 100%;
	}
	.search-content{
		margin-top: 100px;
		.product-section{
			padding: 3px 0 0 18px;
			.product-list{
				padding: 20px 0 0 0;
				display: flex;
	    	flex-wrap: wrap;
	    	justify-content: center;
			}
			@media only screen and (max-width: 991px){
				padding: 0 15px;
			}
			@media only screen and (max-width: 575px){
				padding: 0 5px;
			}
		}
		@media only screen and (max-width: 767px){
			margin-top: 50px;
		}
		.p_0{
			padding: 0;
			@media only screen and (max-width: 991px){
				padding: 0 15px;
			}
		}
	}
/*	.rotate-arrow.show, .custom_btn.show{
		.sidebar_arrow{
			@media only screen and (min-width: 991px){
				&:before{
					transform: rotate(135deg);
				}
				&:after{
					transform: rotate(-135deg);
				}
			}
			@media only screen and (max-width: 991px){
				transform: rotate(180deg);
			}
		}
	}*/
	.pagination{
		margin: 25px 0 0;
		& > li{
			&.active {
				& > a{
					background-image: linear-gradient(135deg, #91c831 0%, #429321 100%);
					border: none;
					color: #fff;
				}
			}
			& > a{
				background-color: #fff;
				border: 1px solid #ebebeb;
				color: #000;
				margin-right: 11px;
				width: 40px;
				height: 40px;
				padding: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				&:hover{
					transition: all 0.5s ease;
					background-color: #ebebeb;
				}
				&:focus{
					color: #fff;
					background-image: linear-gradient(135deg, #91c831 0%, #429321 100%);
				}
			}
		}
		.page-link{
			border-radius: 8px;
			&:first-child{
				border-radius: 8px;
			}
		}
	}
	.page-navigation{
		display: flex;
		justify-content: center;
		@media (max-width: 991px){
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
	}
	.pagin-text{
		font-family: Roboto;
		font-size: 15px;
		font-weight: 300;
		font-family: "Source Sans Pro";
    font-size: 14px;
		text-align: right;
		margin: 0 0 20px;
		a{
			color: #1d1d1b;	
		}
	}
	.active_pagin{
		font-weight: 700;
	}
	.sidebar{
		border-radius: 8px;
		background-color: #ebebeb;
		color: #1d1d1b;
		margin: 10px 0 0 20px;
		padding: 23px 0px 10px 5px;
		position: relative;
		overflow: hidden;
		height: 100%;
		@media only screen and (max-width: 1200px){
			margin: 10px 0 0 0px;
		}
		@media only screen and (max-width: 991px){
			padding: 0;
			margin: 0;
		}
    .panel-title{
    	font-size: 25px;
    	font-weight: 700;
    	line-height: 1.5;
    	font-family: Montserrat;
			@media only screen and (max-width: 991px){
				margin: 0;
			}
    }
    .sidebar-list{
    	font-family: "Source Sans Pro";
    	list-style-type: none;
    	padding: 0;
    	width: 100%;
    	border-bottom: 1px solid rgba(255, 255, 255, .2);
    	margin: 0 0 23px 0;
    	.categories_list{
    		font-weight: 300;
    		line-height: 2;
	    	font-size: 16px;
				padding: 0 0 0 8px;
				/*opacity: 0.6;*/
				position: relative;
				color: #1d1d1b;
				z-index: 2;
				&:before{
			    content: '';
			    position: absolute;
			    display: block;
			    width: 90%;
			    height: 1px;
			    bottom: 4px;
			    left: 10px;
			    background-color: #fff;
			    visibility: hidden;
			    -webkit-transform: scaleX(0);
			    transform: scaleX(0);
			    -webkit-transition: all 0.2s ease-in-out 0s;
			    transition: all 0.2s ease-in-out 0s;
			    opacity: 0.25;
				}
				&:hover{
					&:before{
						visibility: visible;
						-webkit-transform: scaleX(1);
						transform: scaleX(1);
					}
				}
    	}
    	.title_list{
    		font-family: Montserrat;
    		font-weight: 600;
    		font-size: 14px;
    		padding: 0 15px;
    	}
    	.flex-list{
    		display: flex;
    		align-items: center;
    		justify-content: space-between;
				padding: 0 12px 0 0;
				line-height: 1.7;
				.num_goods{
					font-weight: 300;
					line-height: 2;
					font-size: 16px;
					opacity: 0.6;
					position: relative;
					color: #000;
					z-index: 2;
				}
    	}
    }
    .panel_heading {
			position: relative;
			z-index: 1;
			padding: 6px 15px;
			a{
				color: #000;
				@media only screen and (max-width: 991px){
					font-size: 18px;
					padding-left: 12px;
				}
			}
			.sidebar_arrow{
				@media only screen and (min-width: 991px){
					display: none;
				}
			}
		}
		.panel-collapse{
			@media only screen and (min-width: 991px){
				display: block !important;
 				height: auto !important;
			}
		}
		.panel_body{
			padding: 10px 0px;
			@media only screen and (max-width: 991px){
				display: none;
			}
		}
		.show_sidebar{
			@media only screen and (max-width: 991px){
				display: block;
			}
		}
		._display{
			display: flex;
		}
	}
	.breadcrumbs{
		position: relative;
		color: #1d1d1b;
		font-family: "Source Sans Pro";
		font-size: 14px;
		font-weight: 300;
		padding: 27px 0 0 21px;
		@media only screen and (max-width: 991px){
			padding: 27px 0 15px;
		}
		.breadcrumb-item{
			color: #000;
			padding: 0 6px;
			&:last-child{
				padding-left: 15px;
			}
			&:hover{
				color: #7a2c86;
			}
		}
		.arrow{
			position: absolute;
			padding: 0 15px 0;
	    top: 39px;
			left: 167px;
			transition: 0.3s ease-out;
			@media only screen and (max-width: 991px){
				left: 147px;
			}
			&:before{
				content: '';
				position: absolute;
				margin: auto;
				width: 6px;
				height: 1px;
				background-color: #000;
				transform: rotate(45deg);
				top: -3px;
				left: 9px;
			}
			&:after{
				content: '';
				position: absolute;
				margin: auto;
				width: 6px;
				height: 1px;
				background-color: #000;
				transform: rotate(-45deg);
				top: 1px;
				left: 9px;
			}
			@media only screen and (max-width: 767px){
				left: 37px;
			}
		}
	}
	.myCheckbox{
		padding-left: 15px;
	}
	label{
		margin-bottom: 0;
	}
	.search_mob_slide{
		padding-bottom: 55px;
		&.last_slide{
			padding-bottom: 45px;
		}
	}
	.footer{
		.copyright{
			content: "";
			position: absolute;
			background-color: #ebebeb;
			width: 100%;
			height: 1px;
			margin-top: 0;
			.text_svg {
				margin: 25px auto 0;
			}
		}
	}
	.header_btn{
		.bit-1, .bit-2, .bit-3{
			&:before, &:after{
				background-color: $black;
			}
		}
	}
	.menu-open{
		padding-top: 17px;
		@media only screen and (max-width: 991px){
			top: 100px;
		}
		@media only screen and (max-width: 767px){
			top: 58px;
		}
	}
/*	.search_mob_slide{
		@media screen and (min-width: 991px) {
			pointer-events: none;
		}
	}*/

}  /*search*/
/*END Style for SEARCH Page*/

/*Detail page*/
.detail{
	.header-content{
	}
	.detail-content{
		margin-top: 100px;
		background-image: url(../img/bitmap.png);
		background-size: contein;
		position: relative;
		background-repeat: no-repeat;
		background-color: #64227b;
		@media only screen and (max-width: 767px){
			margin-top: 50px;
		}
	}
	&:after{
		background-image: linear-gradient(180deg, rgba(100, 34, 123, 0) 0%, #64227b 100%);
		content: "url(../img/grad.png)";
		display: block;
		width: 100%;
		height: 63%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		@media only screen and (max-width: 767px){
			height: 600px;
		}
	}
	.breadcrumb-box{
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media only screen and (max-width: 600px){
			flex-direction: column;
			align-items: flex-start;
		}
	}
	.breadcrumbs {
		padding: 30px 0;
		color: #fff;
		z-index: 1;
		@media only screen and (max-width: 600px){
			padding: 27px 25px 4px;
		}
		.breadcrumb-item{
			color: #fff;
			&:hover{
				color: $white;
			}
		}
	}
	.breadcrumb-item{
		position: relative;
	}
	.breadcrumb-item + .breadcrumb-item::before{
		content: '';
		position: absolute;
		width: 6px;
		height: 1px;
		background-color: #fff;
		transform: rotate(45deg);
		padding: 0;
		top: 10px;
		left: -3px;
	}
	.breadcrumb-item + .breadcrumb-item::after{
		content: '';
		position: absolute;
		width: 6px;
		height: 1px;
		background-color: #fff;
		transform: rotate(-45deg);
		padding: 0;
		top: 13px;
		left: -3px;
	}
	.notice{
		color: #fff;
		font-size: 14px;
		font-family: "Source Sans Pro";
		margin: 0;
		@media only screen and (max-width: 600px){
			padding: 0 30px 5px;
		}
	}
	.left_part{
		color: #fff;
		z-index: 1;
		margin: 0 0 0 20px;
		.subtitle{
			font-size: 18px;
			margin: 30px 0;
			@media only screen and (max-width: 767px){
				margin: 15px 0;
			}
		}
		.description{
			line-height: 1.8;
			font-weight: 200;
			font-size: 18px;
			margin-bottom: 30px;
			@media only screen and (max-width: 767px){
				font-size: 14px;
			}
		}
		a{
			color: #fff;
			padding: 10px 25px;
			&:hover{
				color: #fff;
			}
		}
	}
	.right_part{
		z-index: 1;
		margin: 67px 0 0 -20px;
		@media only screen and (max-width: 991px){
			text-align: center;
			margin: 50px auto;
		}
	}
	.tabs{
		z-index: 1;
		overflow: hidden;
		color: #fff;
		ul{
			box-shadow: 0 2px 4px rgba(100, 100, 100, 0.2);
			border-radius: 8px;
			border: 1px solid #ebebeb;
			background-color: #ffffff;
			justify-content: space-between;
			max-width: 97%;
			margin: 75px auto;
			li{
				width: 14.28%;
			}
		}
		.nav-item{
			.title{
				font-family: "Source Sans Pro";
				font-size: 15px;
				margin: 0;
			}
			.description{
				margin: 0;
				font-size: 10px;
			}
			a{
				display: flex;
				align-items: center;
				color: #1d1d1b;
				padding: 13px 0;
				justify-content: center;
				@media only screen and (max-width: 1200px){
					padding: 0.5em 1em
				}
			}
		}
	}
	.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
		background-image: linear-gradient(135deg, #94358b 0%, #5e2079 100%);
		color: #fff;
		border-radius: 0.25rem;
		.nav-svg{
			fill: #fff;
		}
	}
	.nav-tabs{
		.nav-link{
			border-radius: 0.5rem;
		}
	}
	.tab-content {
		height: 550px;
		.title_tab{
			font-size: 44px;
			font-weight: 700;
			@media only screen and (max-width: 991px){
				font-size: 32px;
			}
		}
		.subtitle_tab{
			font-family: Montserrat;
			font-size: 18px;
			font-weight: 400;
			margin: 25px 0;
			text-transform: uppercase;
		}
		.description{
			font-family: "Source Sans Pro";
			font-size: 18px;
			font-weight: 200;
			line-height: 36px;
			letter-spacing: -0.5px;
			padding-bottom: 65px;
		}
	}
	.tab-content > .active{
		display: flex;
	}
	.tab-right{
		background-color: #fff;
		height: 75%;
		border-radius: 8px;
		max-width: 353px;
		@media only screen and (max-width: 991px){
			min-height: 350px;
			margin: 0 auto 50px;
			max-width: 100%;
		}
		.title{
			color: #ffffff;
			font-family: Montserrat;
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;
			border-radius: 8px 8px 0 0;
			background-color: #94358b;
			padding: 15px 0 15px 15px;
		}
	}
	.text-box{
		@media only screen and (max-width: 991px){
			margin: auto;
			.title_tab{
				font-size: 24px;
			}
			.subtitle_tab{
				font-size: 18px;
			}
			.description{
				font-size: 14px;
				font-weight: 200;
			}
		}
	}
	.fancybox{
		position: relative;
	}
	.arrow-slide{
		position: absolute;
		width: 100px;
		right: 0;
		top: 100px;
		@media only screen and (max-width: 991px){
			top: 50px;
		}
		.swiper-button-prev, .swiper-button-prev2{
			background-image: url('../img/arrow_left.svg');
			opacity: 1;
			width: 50px;
			height: 50px;
			pointer-events: auto;
			background-size: 50px 50px;
			z-index: 2;
			position: absolute;
			left: 10px;
			right: auto;
			cursor: pointer;
		}
		.swiper-button-next, .swiper-button-next2{
			background-image: url('../img/arrow_right.svg');
			opacity: 1;
			width: 50px;
			height: 50px;
			pointer-events: auto;
			background-size: 50px 50px;
			z-index: 2;
			position: absolute;
			right: 10px;
			left: auto;
			cursor: pointer;
		}
	}
	.fotos{
		margin: 0px 0 87px;
		@media only screen and (max-width: 991px){
			margin: 0 0 40px;
		}
		.container{
			padding: 0 30px;
		}
	}
	.title-slider{
		padding: 70px 0 30px;
		position: relative;
		@media only screen and (max-width: 991px){
			padding: 35px 0 30px;
		}
		.title_left{
			font-size: 42px;
			@media only screen and (max-width: 991px){
				font-size: 32px;
			}
		}
	}
	.members{
		background-color: rgba(235, 235, 235, 0.5);
		.more_services{
			padding: 35px 0 73px;
			margin: 0;
		}
	}
	.footer{
		margin-top: 0;
		.copyright{
			background-color: #fff;
		}
	}
}/*Detail*/
	.maximize{
		fill: #fff;
		width: 30px;
		height: 20px;
		position: absolute;
		right: 20px;
		bottom: -100px;
		@media only screen and (max-width: 350px){
			bottom: -85px;
		}
	}
	.nav-svg{
		width: 30px;
		height: 20px;
	}
	.arrow-svg{
		width: 50px;
		height: 50px;
	}
	.point-svg{
		fill: #fff;
		width: 15px;
		height: 15px;
	}
	.secarr{
		fill: #fff;
		width: 8px;
		height: 8px;
	}
	.point{
		fill: #1d1d1b;
		width: 7px;
		height: 10px;
	}
	.thrcar{
		fill: #1d1d1b;
		width: 14px;
		height: 7px;
	}
/*End Detail page*/